.quarto-title-meta {
    background-image: url(acss_logo.svg);
    background-size: 200px;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 38%;
    background-origin: content-box;
}